* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
}
/* Navbar Homepage */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  background-color: #809eff;
  font-family: "DM Sans", sans-serif;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.white {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  background-color: white;
  font-family: "DM Sans", sans-serif;
  width: 100%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.nav-links-white {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}

.nav-links-white li {
  list-style: none;
}

.nav-links-white a {
  color: #809eff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1.2rem;
  margin-left: 3rem;
  position: relative;
}

.nav-links-white a:after {
  content: "";
  position: absolute;
  background-color: #809eff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}

.nav-links-white a:hover:after {
  width: 100%;
}

.nav-links-white a:hover {
  color: #809eff;
  transition: 0s;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1.2rem;
  margin-left: 3rem;
  position: relative;
}

.nav-links a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}

.nav-links a:hover:after {
  width: 100%;
}

.nav-links a:hover {
  color: #f2f2f2;
  transition: 0s;
}

.logo {
  width: 6rem;
  justify-content: center;
  margin-right: 15rem;
}

.contact-icons {
  width: 4rem;
  display: flex;
  margin-right: 3rem;
}

.email-icon {
  margin-right: 10px;
}

.burger {
  display: none;
  cursor: pointer;
  margin-left: 3rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.footer {
  background-color: #809eff;
  width: 100%;
  height: 4.5rem;
}

.footer p {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  padding-top: 1.7rem;
  padding-left: 1.5rem;
}

.content {
  display: flex;
}

.paragraph {
  margin: 0 5rem 0 5rem;
  margin-top: 2.5rem;
}

.paragraph h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  color: #809eff;
  font-weight: 900;
  margin-bottom: 1rem;
}

.paragraph p {
  font-family: "DM Sans", sans-serif;
  color: #809eff;
  font-size: 1rem;
}
