* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
}
/* Navbar Inquery (White) */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  background-color: #809eff;
  font-family: "DM Sans", sans-serif;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.white {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  background-color: white;
  font-family: "DM Sans", sans-serif;
  width: 100%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.nav-links-white {
  display: flex;
  justify-content: space-around;
  width: 20rem;
}

.nav-links-white li {
  list-style: none;
}

.nav-links-white a {
  color: #809eff;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1.2rem;
  margin-left: 3rem;
  position: relative;
}

.nav-links-white a:after {
  content: "";
  position: absolute;
  background-color: #809eff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}

.nav-links-white a:hover:after {
  width: 100%;
}

.nav-links-white a:hover {
  color: #809eff;
  transition: 0s;
}

.logo {
  width: 6rem;
  justify-content: center;
  margin-right: 15rem;
}

.contact-icons {
  width: 4rem;
  display: flex;
  margin-right: 3rem;
}

.email-icon {
  margin-right: 10px;
}

.burger {
  display: none;
  cursor: pointer;
  margin-left: 3rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* Start main content - Inquery */

.title-bg-inquery .title-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.whole-title h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 500;
}

.whole-title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
}

.title-bg-inquery .title-button button {
  border: none;
  background: white;
  color: #a98fcc;
  padding: 22px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  border-radius: 7px;
  margin-left: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title-bg-inquery .title-button button:hover {
  background: #f2f2f2;
  transition: 0.3 ease;
}

.title-bg-inquery .title-button a {
  text-decoration: none;
}

.title-bg-inquery .title-button a:visited {
  text-decoration: none;
}

.description {
  width: 100%;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  background: #a98fcc;
  padding: 1rem;
}

.description p {
  font-size: 0.7rem;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
}

/* Start content */

.bold-ital {
  font-weight: 600;
  font-style: italic;
  padding: 0 1rem 0 1rem;
}

.quote-one img {
  width: 1.8rem;
}

.quote-one {
  display: flex;
  flex-direction: row;
}

.quote-two img {
  width: 1.8rem;
}

.quote-two {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0.5rem 0;
}

.insights-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.insights-container img {
  width: 5rem;
  padding: 0.5rem 0;
  display: flex;
}

.insights-one,
.insights-two,
.insights-three {
  display: flex;
  flex-direction: column;
  width: 12rem;
  align-items: center;
}

.redesigned p {
  margin-bottom: 1rem;
}

.footer {
  background-color: #809eff;
  width: 100%;
  height: 4.5rem;
  margin: 1.8rem 0 0 0;
}

.footer p {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  padding-top: 1.7rem;
  padding-left: 1.5rem;
}

/* Navbar to hamburger menu*/
@media screen and (max-width: 930px) {
  .title-bg-inquery .title-button {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title-bg-inquery .title-button button {
    margin-left: 0;
  }

  .title-bg-inquery .whole-title {
    margin-right: 4rem;
  }

  .title-bg-inquery img {
    margin-left: 4rem;
  }

  .title-bg-inquery h2 {
    margin-top: 0.5rem;
  }

  body {
    overflow-x: hidden;
    position: relative;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #809eff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  /* Homepage Heading Desktop*/
  .homepage-heading {
    flex-direction: column;
  }

  .homepage-heading h1 {
    font-size: 2.7rem;
  }

  .homepage-heading .line {
    display: none;
  }

  .homepage-heading h2 {
    font-size: 1.2rem;
  }

  .content {
    margin: 0 5% 0 5%;
  }
}

/* Keyframes*/

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* True Mobile View*/
@media screen and (max-width: 668px) {
  .content {
    margin: 0 5% 0 5%;
  }

  .pp-one,
  .pp-three {
    flex-direction: column;
    align-items: center;
  }

  .pp-two,
  .pp-four {
    flex-direction: column-reverse;
    align-items: center;
  }

  .listening .person-img {
    margin: 0 33% 0 33%;
  }

  .intro {
    flex-direction: column;
    align-items: center;
  }

  .challenge {
    margin: 1rem 0 1rem 0;
  }

  .personas-img {
    display: flex;
    flex-direction: column;
    margin: 0 15% 0 15%;
  }

  .personas-row-one,
  .personas-row-two {
    flex-direction: column;
  }

  .personas img {
    width: 100%;
  }

  .first-persona-img {
    margin-bottom: 1rem;
  }

  .ia img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .description {
    display: flex;
    flex-direction: column;
  }

  .description p {
    padding: 0.2rem;
    font-size: 0.9rem;
  }

  .iteration-one,
  .iteration-three {
    display: flex;
    flex-direction: column;
  }

  .iteration-one p,
  .iteration-three p {
    margin-left: 0rem;
    padding-right: 0rem;
  }

  .iteration-two {
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem 0 2rem 0;
  }

  .iteration-two p {
    margin-right: 1rem;
    text-align: left;
    padding-left: 0rem;
  }

  .iterations p {
    margin-top: 0.5rem;
  }

  .iterations img {
    width: 35%;
    margin: 0 33% 0 33%;
  }

  .items-container img {
    width: 9rem;
    margin-left: 4rem;
  }

  .whole-title h1 {
    font-size: 2.5rem;
  }

  .whole-title h2 {
    font-size: 1rem;
  }

  .title-bg-inquery .title-button button {
    font-size: 0.7rem;
  }

  .ia-imgs {
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 0 10% 0 10%;
  }

  .insights-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .insights-one,
  .insights-two,
  .insights-three,
  .insights-four {
    margin: 0 1rem 0 1rem;
  }

  .insights-one,
  .insights-two {
    margin-bottom: 1rem;
  }

  .items-container img {
    width: 15rem;
    margin: 2rem;
  }

  .right-justified {
    text-align: left;
  }
}
